# Project specific ignores
# ----------------------

# Build (on its own branch)
build

# Docs (on its own branch)
docs

# Vendor
vendor


### Generic
# ----------------------

# Private config
.env.json

# Minified assets
*.min.js
*.min.css

# Front-end and packages folders
node_modules
bower_components
.sass-cache
.tmp
.publish
composer.lock
phpdoc-cache*

# OS and other
.DS_Store
/.project
*.scssc
.fuse_hidden*

# Logs and temporary files
logs
*.log
*.tmp

# GitEye
/.project

# Sublime
*.sublime-project
*.sublime-workspace


### WordPress
# @link(http://git.io/vZ05Z)
# ----------------------
*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

/readme.html

wp-config-local.php