# Project specific
build
vendor
.env*
!.env.example

# Frontend
node_modules
*.min.js
*.min.css
composer.lock
phpdoc-cache*
*.sublime-project
*.sublime-workspace

# OS and other
.DS_Store
.fuse_hidden*
*.scssc

# Logs and temporary files
logs
*.log
*.tmp
.tmp

# WordPress http://git.io/vZ05Z
*.log
.htaccess
sitemap.xml
sitemap.xml.gz
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php
/readme.html
wp-config-local.php
