/**
 * Icons for panels and sections
 *
 * Add icon beside panel titles. This is now done dyanimaclly
 * in php based on the array given by the developer to customize plus.
 * In php we mimic the following style, let's keep this here anyway to
 * add icons to existing plugins or just for reference.
 *
 * To see the wordpress dashicons codes @link( https://developer.wordpress.org/resource/dashicons/ )
 *
 * @see Customize_Manager class.
 */
$icons-opacity: .4;

@mixin pwpcp-icon ( $icon_code ) {
  content: "#{$icon_code}";
  position: relative;
  top: 4px;
  left: -2px;
  opacity: $icons-opacity;
  font-size: 20px;
  font-weight: normal;
  font-family: 'dashicons';
}

/**
 * Panel icons
 */
#accordion-panel {

  // Widgets Customizer (plugin embedded in core)
  &-widgets > h3:before, &-widgets .panel-title:before {
    @include pwpcp-icon('\f116');
  }

  // Menu Customizer Plugin (it will probably be embedded in core) // @@pluginsupport \\
  &-menus > h3:before, &-menus .panel-title:before {
    @include pwpcp-icon('\f333');
  }
}

/**
 * Section icons
 */
#accordion-section {

  // Customize Posts Plugin // @@pluginsupport \\
  // https://wordpress.org/plugins/customize-posts/
  &-posts > h3:before {
    @include pwpcp-icon('\f464');
  }
}

/**
 * Icons for sections titles
 *
 * style icons present in the markup
 */
.accordion-section-title .dashicons {
  opacity: $icons-opacity;
}

/**
 * Fix height issue on native WordPress widget panel icon
 */
.panel-title:before {
  line-height: 0;
}