/**
 * UI module, used within control's areas
 *
 */
.pwpcpui {
  &-label {
    display: block;
    margin-bottom: 2px;
    font-style: normal;
    font-size: 11px;
  }

  // toggle button within controls (used in color and dynamic controls)
  &-toggle {
    @include ui-toggle();
  }

  &-alert {
    border: 1px solid transparent;
    padding: 10px 15px;
    box-shadow: 0 8px 14px -12px rgba(0,0,0,.18);

    &.danger {
      @include ui-alert(#FFD4D4);
    }

    &.success {
      @include ui-alert(#D8FFCD);
    }

    &.info {
      @include ui-alert(#CDEBFF);
    }

    p {
      margin: 5px 0;
    }
  }
}
