/**
 * Shadow on sidebar
 *
 */
.wp-full-overlay.expanded { // @@wptight-selector \\
  .wp-full-overlay-sidebar { // @@wptight-selector \\
    box-shadow: 50px 0 85px -65px rgba(0,0,0,0.15);
  }
}


/**
 * Change WordPress animations.
 *
 * With a lot of controls they get clunky.
 * We remove transitions if there is no csstransform support,
 * otherwise we use transform translateX to animate, resetting
 * the left positions.
 * We're using here the same selectors as WordPress // @@wptight-css
 *
 * This cause a bug on chrome when autofocus on load, where the sidebar is empty
 * until any kind of event on any target occur (click, resizes, etc.). It is probably
 * something related to redraw/repaint. On firefox works for instance.
 * Anyway let's disable it for now. Try something like this url to test:
 * http://localhost/WPlayground/wp-admin/customize.php?autofocus[control]=jumbotron-font-size
 */
$animate-sidebar-with-transforms-if-possible: false;

@if ( $animate-sidebar-with-transforms-if-possible ) {

  .no-csstransforms {
    #customize-info, #customize-theme-controls > ul > .accordion-section {
      transition: none; // it was transition: left ease-in-out .18s;
    }
  }
  .csstransforms {
    .accordion-sub-container.control-panel-content {
      left: 0; // it was left: $WPcustomize--sidebar-width;
      transform: translateX($WPcustomize--sidebar-width);
      transition: transform .18s ease; // it was transition: left ease-in-out .18s;
    }
    #customize-info, #customize-theme-controls > ul > .accordion-section {
      transition: transform .18s ease; // it was transition: left ease-in-out .18s;
    }
    .in-sub-panel #customize-info, .in-sub-panel #customize-theme-controls > ul > .accordion-section {
      left: 0; // it was left: -$WPcustomize--sidebar-width;
      transform: translateX(-$WPcustomize--sidebar-width);
    }
    .control-panel-back {
      left: 0; // it was left: -$WPcustomize--btnback-width;
      transform: translateX(-$WPcustomize--btnback-width);
      transition: transform .18s ease, background .1s ease-in-out; // it was transition: left .18s ease-in-out,color .1s ease-in-out, background .1s ease-in-out;
    }
    .in-sub-panel .control-panel-back {
      left: 0; // it was left: 0;
      transform: translateX(0);
    }
    // theme switcher feature as plugin
    .in-themes-panel .themes-panel-back {
      left: 0; // it was left: 0;
      transform: translateX(0);
    }
  }
}


/**
 * Full page loader
 *
 */
.pwpcp-full-overlay {
  z-index: 9999999;
  left: 0;
  right: 0;
  width: auto;
  background: $WPcustomize--sidebar-bg;

  .pwpcp-text {
    font-weight: 200;
  }

  h1 {
    font-size: 45px;
  }

  .spinner { // @@wptight-selector \\
    float: none;
    display: inline-block;
    visibility: visible;
    margin: -3px 5px 0 0;
  }
}


/**
 * Toggle
 *
 * Buttons on the top left bar in the 'customize' // @@wptight-css, almost exactly copied from '.customize-controls-close', and hover state from '.control-panel-back:focus, .control-panel-back:hover, .customize-controls-close:focus, .customize-controls-close:hover' \\
 */
.pwpcp-toggle {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: $toggle--width; // custom code
  height: $WPcustomize--header-height;
  padding-right: 2px;
  background: #eee;
  border-right: 1px solid #ddd;
  color: #444;
  cursor: pointer;
  transition: color .1s ease-in-out,background .1s ease-in-out;

   &:focus,
   &:hover {
    background: #ddd;
    border-color: #ccc;
    color: #000;
    outline: 0;
  }

  // custom code, icon in the middle, no matter the button size
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font: 400 22px dashicons;
    line-height: $WPcustomize--header-height;
  }

  @media (max-width: $WPcustomize--float-breakpoint) {
    // hide toggle when, on small screens, the current view is the preview
    // keep it in the media query because when resizing the browser from small to large
    // WordPress doesn't remove the `preview-only` class even if it doesn't apply anymore
    // @@wpapichange
    .preview-only & {
      display: none;
    }
  }
}
// active status used by Search and Tools
%pwpcp-toggle-active {
  box-shadow: inset 0 0 0 30px rgba(0,0,0,.075);
}


/**
 * Back Toggle
 * // @@wptight-css[almost exactly copied from: .control-panel-back] \\
 */
#pwpcp-back {
  display: none; // custom code
  position: fixed;
  top: 0;
  z-index: 99;
  left: 0; // custom code
  width: $WPcustomize--header-height;
  height: $WPcustomize--header-height;
  padding-right: 2px;
  background: #eee;
  border-right: 1px solid #ddd;
  cursor: pointer;

  &:before {
    font: 400 20px/1 dashicons;
    content: "\f341";
    position: relative;
    top: 7px;
    left: 13px;
  }

  // custom close, display behavior
  .pwpcp-search-active &,
  .pwpcp-tools-active & {
    display: block;
    left: 0;
  }
}


/**
 * Button Icon
 *
 * A button only made of an `<i>`.
 * Used i.e. in the Screenpreview.
 *
 * Markup:
 * ```html
 * <i class="dashicon ..glyph..">
 * ```
 */
.pwpcp-btn-icon {
  display: inline-block;
  cursor: pointer;
  color: $WPcustomize--collapse-sidebar-color;
  padding: $screenpreview--btn-padding-horizontal 5px $WPcustomize--collapse-sidebar-bottom;
  color: inherit;
  opacity: .5;

  &.pwpcp-active,
  &.pwpcp-active:hover {
    opacity: 1;
  }

  &.pwpcp-current,
  &.pwpcp-current:hover {
    opacity: 1;
    cursor: default;
  }
}


/**
 * Loading
 *
 */
// body.pwpcp-loading {
//   cursor: wait;
// }
// Show spinner during live css compiling
#customize-header-actions .spinner { // @@wptight-selector \\
  .pwpcp-loading & {
    visibility: visible;
    display: block;
  }
}
.pwpcp-show-on-loading {
  display: none;

  .pwpcp-loading & {
    display: inline-block;
  }
}


/**
 * Browser support dependent markup
 * Show or hide
 */
.pwpcp-if-filereader,
.pwpcp-if-no-filereader {
  display: none;
}
.filereader .pwpcp-if-filereader,
.no-filereader .pwpcp-if-no-filereader {
  display: block;
}


/**
 * Textarea
 */
.pwpcp-textarea {
  width: 100%;
  resize: vertical;
  color: #999;
}


// .pwpcp-error {
//   color: #c00;
// }


/**
 * Input group (like size control).
 * Adapted from Bootstrap 3.3
 *
 * Markup:
 * ```html
 * <div class="pwpcp-input-group">
 *   <input type="text" class="pwpcp-input">
 *   <span class="pwpcp-input-group-btn">
 *     <button class="button button-small pwpcp-btn" type="button"><?php _e( 'Do', 'pkgtextdomain' ); ?></button>
 *   </span>
 * </div>
 * ```
 */
.pwpcp-input-group {
  position: relative;
  display: table;
  border-collapse: separate;

  input.pwpcp-input {
    display: table-cell;
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
  }

  &-btn {
    display: table-cell;
    position: relative;
    font-size: 0;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
  }

  .button-small.pwpcp-btn {
    height: auto; // @@wptight-css-override of: .wp-core-ui.wp-customizer .button {} \\
    padding: 3px 5px; // @@wptight-css from: input {} \\
    // padding: 6px 10px; // @@wptight-css from: input[type=text] {} \\
    line-height: 18px; // @@wptight-css from: .customize-control input[type=text] {} \\
    margin-left: -1px;
    border-radius: 0 3px 3px 0;
  }
}