/**
 * Shadows
 *
 */
// Add shadow to sidebar
.wp-full-overlay.expanded { // k6wptight-selector \\
  .wp-full-overlay-sidebar { // k6wptight-selector \\
    box-shadow: 50px 0 85px -65px rgba(0,0,0,0.15);
  }
}
// // add shadow to sections
// .accordion-section {
//   margin: 0 0 3px 0;
//   box-shadow: -66px 38px 51px rgba(0,0,0,.18);
// }


/**
 * Change WordPress animations.
 *
 * With a lot of controls they get clunky.
 * We remove transitions if there is no csstransform support,
 * otherwise we use transform translateX to animate, resetting
 * the left positions.
 * We're using here the same selectors as WordPress // k6wptight-css
 *
 */
.no-csstransforms {
  #customize-info, #customize-theme-controls>ul>.accordion-section {
    transition: none; // it was transition: left ease-in-out .18s;
  }
}
.csstransforms {
  .accordion-sub-container.control-panel-content {
    left: 0; // it was left: $WPcustomize--sidebar-width;
    transform: translateX($WPcustomize--sidebar-width);
    transition: transform .18s ease; // it was transition: left ease-in-out .18s;
  }
  #customize-info, #customize-theme-controls > ul > .accordion-section {
    transition: transform .18s ease; // it was transition: left ease-in-out .18s;
  }
  .in-sub-panel #customize-info, .in-sub-panel #customize-theme-controls>ul>.accordion-section {
    left: 0; // it was left: -$WPcustomize--sidebar-width;
    transform: translateX(-$WPcustomize--sidebar-width);
  }
  .control-panel-back {
    left: 0; // it was left: -$WPcustomize--btnback-width;
    transform: translateX(-$WPcustomize--btnback-width);
    transition: transform .18s ease, background .1s ease-in-out; // it was transition: left .18s ease-in-out,color .1s ease-in-out, background .1s ease-in-out;
  }
  .in-sub-panel .control-panel-back {
    left: 0; // it was left: 0;
    transform: translateX(0);
  }
}


/**
 * Full page loader
 *
 */
.k6-full-overlay {
  z-index: 9999999;
  left: 0;
  right: 0;
  width: auto;
  background: $WPcustomize--sidebar-bg;

  .k6-text {
    font-weight: 200;
  }

  h1 {
    font-size: 45px;
  }

  .spinner { // k6wptight-selector \\
    float: none;
    display: inline-block;
  }
}


/**
 * Toggle
 *
 * Buttons on the top left bar in the 'customize' // k6wptight-css, almost exactly copied from '.customize-controls-close', and hover state from '.control-panel-back:focus, .control-panel-back:hover, .customize-controls-close:focus, .customize-controls-close:hover' \\
 */
.k6-toggle {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: $toggle--width; // custom code
  height: $WPcustomize--header-height;
  padding-right: 2px;
  background: #eee;
  border-right: 1px solid #ddd;
  color: #444;
  cursor: pointer;
  transition: color .1s ease-in-out,background .1s ease-in-out;

   &:focus,
   &:hover {
    background: #ddd;
    border-color: #ccc;
    color: #000;
    outline: 0;
  }

  // custom code, icon in the middle, no matter the button size
  &:before {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    font: 400 22px dashicons;
    line-height: $WPcustomize--header-height;
  }
}
// active status used by Search and Tools
%k6-toggle-active {
  box-shadow: inset 0 0 0 30px rgba(0,0,0,.075);
}


/**
 * Back Toggle
 * // k6wptight-css[almost exactly copied from: .control-panel-back] \\
 */
#k6-back {
  display: none; // custom code
  position: fixed;
  top: 0;
  z-index: 99;
  left: 0; // custom code
  width: $WPcustomize--header-height;
  height: $WPcustomize--header-height;
  padding-right: 2px;
  background: #eee;
  border-right: 1px solid #ddd;
  cursor: pointer;

  &:before {
    font: 400 20px/1 dashicons;
    content: "\f341";
    position: relative;
    top: 7px;
    left: 13px;
  }

  // custom close, display behavior
  .k6-search-active &,
  .k6-tools-active & {
    display: block;
    left: 0;
  }
}


/**
 * Button Icon
 *
 * A button only made of an `<i>`.
 * Used i.e. in the ScreenPreview.
 *
 * Markup:
 * ```html
 * <i class="dashicon ..glyph..">
 * ```
 */
.k6-btn-icon {
  display: inline-block;
  cursor: pointer;
  color: $WPcustomize--collapse-sidebar-color;
  padding: $screenpreview--btn-padding-horizontal 5px $WPcustomize--collapse-sidebar-bottom;
  color: inherit;
  opacity: .5;

  &.k6-active,
  &.k6-active:hover {
    opacity: 1;
  }

  &.k6-current,
  &.k6-current:hover {
    opacity: 1;
    cursor: default;
  }
}


/**
 * Loading
 *
 */
// body.k6-loading {
//   cursor: wait;
// }
// Show spinner during live css compiling
#customize-header-actions .spinner { // k6wptight-selector \\
  .k6-loading & {
    display: block;
  }
}
.k6-show-on-loading {
  display: none;

  .k6-loading & {
    display: inline-block;
  }
}


/**
 * Browser support dependent markup
 * Show or hide
 */
.k6-if-filereader,
.k6-if-no-filereader {
  display: none;
}
.filereader .k6-if-filereader,
.no-filereader .k6-if-no-filereader {
  display: block;
}


/**
 * Textarea
 */
.k6-textarea {
  width: 100%;
  resize: vertical;
  color: #999;
}


// .k6-error {
//   color: #c00;
// }


/**
 * Input group (like size control).
 * Adapted from Bootstrap 3.3
 *
 * Markup:
 * ```html
 * <div class="k6-input-group">
 *   <input type="text" class="k6-input">
 *   <span class="k6-input-group-btn">
 *     <button class="button button-small k6-btn" type="button"><?php _e( 'Do', 'pkgtextdomain' ); ?></button>
 *   </span>
 * </div>
 * ```
 */
.k6-input-group {
  position: relative;
  display: table;
  border-collapse: separate;

  input.k6-input {
    display: table-cell;
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
  }

  &-btn {
    display: table-cell;
    position: relative;
    font-size: 0;
    white-space: nowrap;
    width: 1%;
    vertical-align: middle;
  }

  .button-small.k6-btn {
    height: auto; // k6wptight-css-override of: .wp-core-ui.wp-customizer .button {} \\
    padding: 3px 5px; // k6wptight-css from: input {} \\
    // padding: 6px 10px; // k6wptight-css from: input[type=text] {} \\
    line-height: 18px; // k6wptight-css from: .customize-control input[type=text] {} \\
    margin-left: -1px;
    border-radius: 0 3px 3px 0;
  }
}