/**
 * Change WordPress animations.
 *
 * With a lot of controls they get clunky.
 * We remove transitions if there is no csstransform support,
 * otherwise we use transform translateX to animate, resetting
 * the left positions.
 * We're using here the same selectors as WordPress // @@wptight-css
 *
 * This cause a bug on chrome when autofocus on load, where the sidebar is empty
 * until any kind of event on any target occur (click, resizes, etc.). It is probably
 * something related to redraw/repaint. On firefox works for instance.
 * Anyway let's disable it for now. Try something like this url to test:
 * http://localhost/WPlayground/wp-admin/customize.php?autofocus[control]=jumbotron-font-size
 */
$animate-sidebar-with-transforms-if-possible: true;

@if ( $animate-sidebar-with-transforms-if-possible ) {

  .no-csstransforms {
    #customize-info, #customize-theme-controls > ul > .accordion-section {
      transition: none; // it was transition: left ease-in-out .18s;
    }
  }
  .csstransforms {
    .accordion-sub-container.control-panel-content {
      left: 0; // it was left: $WPcustomize--sidebar-width;
      transform: translateX($WPcustomize--sidebar-width);
      transition: transform .18s ease; // it was transition: left ease-in-out .18s;
    }
    #customize-info, #customize-theme-controls > ul > .accordion-section {
      transition: transform .18s ease; // it was transition: left ease-in-out .18s;
    }
    .in-sub-panel #customize-info, .in-sub-panel #customize-theme-controls > ul > .accordion-section {
      left: 0; // it was left: -$WPcustomize--sidebar-width;
      transform: translateX(-$WPcustomize--sidebar-width);
    }
    .control-panel-back {
      left: 0; // it was left: -$WPcustomize--btnback-width;
      transform: translateX(-$WPcustomize--btnback-width);
      transition: transform .18s ease, background .1s ease-in-out; // it was transition: left .18s ease-in-out,color .1s ease-in-out, background .1s ease-in-out;
    }
    .in-sub-panel .control-panel-back {
      left: 0; // it was left: 0;
      transform: translateX(0);
    }
    // theme switcher feature as plugin
    .in-themes-panel .themes-panel-back {
      left: 0; // it was left: 0;
      transform: translateX(0);
    }
  }
}
