/**
 * Hide WordPress default loader
 *
 * We'll use our custom one with the css based spinner which will always spin
 * even the browsers freezes for a moment on load due to the intensive cpu
 * processing.
 */
#customize-preview.wp-full-overlay-main { // @@wptight-selector \\
  display: none;

  &.iframe-ready { // @@wptight-selector \\
    display: block;
    // set default background color of webpages, this is especially important
    // when with the screenpreview component the iframe is overlapped to the
    // dark grey devices, hence, when the previewed website has a transparent
    // background the dark grey get through.
    // background-color: white;
  }
}

/**
 * Loaders overlays
 *
 */
.pwpcp-overlay--preview,
.pwpcp-overlay--sidebar {
  z-index: 1;
  left: 0;
  right: 0;
  width: auto;
  background: $WPcustomize--sidebar-bg;

  .pwpcp-text {
    font-weight: 200;
  }

  h1 {
    font-size: 45px;
  }

  .spinner { // @@wptight-selector \\
    float: none;
    display: inline-block;
    visibility: visible;
    margin: -3px 5px 0 0;
  }
}

/**
 * Sidebar overlay
 */
.pwpcp-overlay--sidebar {
  z-index: 10;
  position: fixed;
  left: 0;
  width: $WPcustomize--sidebar-width;
  top: $WPcustomize--header-height + 1;
  bottom: $WPcustomize--footer-height + 1;
  background-color: $WPcustomize--sidebar-bg;
  background-color: rgba(250,250,250,.88);
}

/**
 * Loading
 *
 * Utilities classes to apply on body to show the spinner in the header
 */
#customize-header-actions .spinner { // @@wptight-selector \\
  .pwpcp-loading & {
    visibility: visible;
    display: block;
  }
}
.pwpcp-show-on-loading {
  display: none;

  .pwpcp-loading & {
    display: inline-block;
  }
}
