/**
 * UI module, used within control's areas
 * This 'module' is extended in the Premium version of Customize Plus
 *
 */
.pwpcpui {

  /**
   * Toggle button
   *
   * Used for toggle button within controls (i.e. in color and dynamic controls)
   */
  &-toggle {
    @include ui-toggle();
  }

  /**
   * Textarea
   */
  &-textarea {
    width: 100%;
    resize: vertical;
  }

  /**
   * Control button
   *
   * Shared style applied to button which are common for all the controls and
   * that are meant to be used as additional control specific content. Used for
   * the `extras` menu and `guide` button. Buttons using this class should add
   * their specific class to determine their position inside the control area.
   */
  &-control-btn {
    z-index: 3;
    position: absolute;
    width: $control--btn-size;
    height: $control--btn-size;
    line-height: $control--btn-size + 1; // @@tofix weird bug \\
    font-size: $control--btn-icon-fontsize;
    color: $control--btn-color;
    opacity: 0;
    transition: opacity .18s ease, color .18s ease;
    cursor: pointer;

    .pwpcp-control:hover & {
      opacity: 1;
    }
  }

  /**
   * Vertically align content (wrapper)
   */
  &-midpoint-wrap {
    text-align: center;
    vertical-align: middle;
    height: 100%;

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  }

  /**
   * Vertically align content
   */
  &-midpoint {
    vertical-align: middle;
    display: inline-block;
  }

  /**
   * Visibility
   */
  &-hidden {
    display: none;
  }

  /**
   * Hint (light texts)
   */
  &-hint {
    color: #666;
  }

  /**
   * Sub hint (lighter texts)
   */
  &-subhint {
    color: #bbb;
  }
}