/**
 * Notices
 *
 */
.pwpcp-notices {
  position: absolute;
  left: 0;
  // left: $WPcustomize--section-padding-horizontal;
  box-sizing: border-box;
  width: $WPcustomize--sidebar-width - 1;
  // width: $WPcustomize--sidebar-width - ( $WPcustomize--section-padding-horizontal * 2 );
  // bottom: $WPcustomize--footer-height;
  // padding: 3px 10px;
  // padding: $WPcustomize--section-padding-horizontal;
  // background: darken( $WPcustomize--sidebar-bg, 5% );
  // box-shadow: $popover--box-shadow-distance $popover--box-shadow-blur $popover--box-shadow-color;
  // border: 1px solid $popover--border-color-fallback;
  // border-color: $popover--border-color;

  // background: #222;
  // color: #fff;

  // // fluid height
  // bottom: 45px;
  // background: #eee;
  // font-size: 11px;
  // color: #777;
  // border-style: solid;
  // border-color: #ccc;
  // border-width: 1px 0 0;
  // padding: 6px 10px;
  // margin-bottom: -8px;

  // // fixed height
  // bottom: 45px;
  // background: #eee;
  // font-size: 11px;
  // color: #777;
  // border-style: solid;
  // border-color: #ccc;
  // border-width: 1px 0 0;
  // margin-bottom: -8px;
  // padding: 0 10px;
  // height: 25px;
  // line-height: 25px;
  // overflow: hidden;
  // text-overflow: ellipsis;
}
