/**
 * Dashicon button trigger for guides tooltips
 *
 * @use `.pwpcp-control-btn`
 */
.pwpcp-guide {
  top: $control--spacing-top;
  right: 3px;
  // probably the dashicon font itself (`editor-help`) has different
  // proportions so we need to enlarge a bit to make it look like
  // as big as the extras menu dashicon (`cog`)
  font-size: $control--btn-icon-fontsize + 3;

  .pwpcp-guide-open & {
    opacity: 1;
    box-shadow: $WP--select-box-shadow-focus;
    border-radius: $control--btn-size;
  }
}

/**
 * Popover tweaks.
 * Specifically related to tips guides and helpers.
 *
 */
.wp-full-overlay-sidebar-content .webui-popover {
  margin-top: -$WPcustomize--header-height !important;
}
// always position the tooltip just at the edge
// of the customize sidebar, overriding the js positioning
// @@wptight-css \\
.wp-customizer .webui-popover {
  // padding-left: 20px; // @@wptight-css \\ // @@doubt..what to do here for help and guides, we'll see \\
  // left: 279px !important; // @@doubt..what to do here for help and guides, we'll see \\
}

/**
 * Tip popover content
 *
 */
.webui-popover-content {
  // show spinner behind iframe in tip popover
  iframe {
    position: relative;
    z-index: 2;
  }
  .spinner {
    z-index: 1;
    display: block;
    float: none;
    margin: 0 auto -18px;
    bottom: -67px;
  }
}
