// Device picker buttons
#k6-device-picker {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: right;
  // right: $WPcustomize--collapse-sidebar-marginleft - $screenpreview--btn-padding-horizontal / 2;
  @media screen and (max-width: $WPcustomize--float-breakpoint) {
    // width: $WPcustomize--sidebar-width - ( $screenpreview--btn-padding-horizontal / 2 );
    display: none;
  }

  .imgedit-redo,
  .imgedit-undo { // k6wptight-css reset style applied by .imgedit-redo and .imgedit-undo \\
    margin: 0;
  }
}

// Rotate button
#k6-rotate {
  margin-right: -30px;
}

// Preview main container
#k6-preview {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  .k6-preview-active & {
    overflow: auto;
  }

  &-table {
    display: table;
    width: 100%;
    height: 100%;
  }

  &-table-cell {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }
}


// Style of the device
#k6-device {
  .k6-preview-active & {
    position: relative;
    display: inline-block;

    // style of the text that indicate
    // the size of the device
    &:after {
      position: absolute;
      display: block;
      bottom: -23px;
      right: 0;
      font-size: 13px;
      color: #ccc;
      text-align: right;
      text-shadow: -1px 0 1px #333;
    }
  }
}

// Wrapper div around iframe,
// is already there from wordpress
// we just add a class in js and style it
.k6-iframe-wrap {
  overflow: hidden;

  .k6-preview-active & {
    position: relative;
    box-shadow: 0 1px 8px #000, 0 0 40px rgba(255,255,255,.2);
  }

  iframe {
    // k6doubt
    // position: absolute;
    // top: 0;
    // left: 0;
    // \\
    background: transparent;
  }
}

// Remove transitions of
// iframe and wrappers when we switch
// among devices
.k6-preview-active {
  #customize-preview {
    transition: none; // k6wptight-css reset wordpress style \\
    background: $WPcustomize--iframe-bg;
  }
}

// Animated slide in
// and slide out effect
.k6-preview-out {
  animation: moveToBottomFade .3s ease;
}
.k6-preview-in {
  animation: moveFromBottomFade .3s ease;
}
@keyframes moveToBottomFade {
  from {}
  to { animation-timing-function: ease-out; transform: translateY(-100%) }
}
@keyframes moveFromBottomFade {
  from { transform: translateX(100%) }
  to { animation-timing-function: ease-in; }
}

// Return a number (without units)
@function strip-units($number) {
  @return $number / ($number * 0 + 1);
}

// Set device size
// when preview is active
.k6-preview-active {
  [data-k6-device-size='md'] {
    .k6-iframe-wrap {
      width: $screen--md-width;
      height: $screen--md-height;
    }
    #k6-preview-table-cell {
      background: url('images/device-laptop.svg') no-repeat center;
    }
    #k6-device {
      margin: (65 + $screenpreview--device-margin-vertical) 0;
      &:after {
        content: "#{strip-units($screen--md-width)}x#{strip-units($screen--md-height)}";
      }
    }
  }
  [data-k6-device-size='sm'] {
    .k6-iframe-wrap {
      width: $screen--sm-width;
      height: $screen--sm-height;
    }
    #k6-preview-table-cell {
      background: url('images/device-tablet.svg') no-repeat center;
    }
    #k6-device {
      margin: (80 + $screenpreview--device-margin-vertical) 0;
      &:after {
        content: "#{strip-units($screen--sm-width)}x#{strip-units($screen--sm-height)}";
      }
    }
  }
  [data-k6-device-size='xs'] {
    .k6-iframe-wrap {
      width: $screen--xs-width;
      height: $screen--xs-height;
    }
    #k6-preview-table-cell {
      background: url('images/device-phone.svg') no-repeat center;
    }
    #k6-device {
      margin: (100 + $screenpreview--device-margin-vertical) 0;
      &:after {
        content: "#{strip-units($screen--xs-width)}x#{strip-units($screen--xs-height)}";
      }
    }
  }
}

// Swap device sizes
// when preview is rotated
.k6-preview-rotated {
  [data-k6-device-size='sm'] {
    .k6-iframe-wrap {
      width: $screen--sm-height;
      height: $screen--sm-width;
    }
    #k6-preview-table-cell {
      background: url('images/device-tablet-landscape.svg') no-repeat center;
    }
    #k6-device {
      margin: (112 + $screenpreview--device-margin-vertical) 0;
      &:after {
        content: "#{strip-units($screen--sm-height)}x#{strip-units($screen--sm-width)}";
      }
    }
  }
  [data-k6-device-size='xs'] {
    .k6-iframe-wrap {
      width: $screen--xs-height;
      height: $screen--xs-width;
    }
    #k6-preview-table-cell {
      background: url('images/device-phone-landscape.svg') no-repeat center;
    }
    #k6-device {
      margin: (52 + $screenpreview--device-margin-vertical) 0;
      &:after {
        bottom: -18px;
        content: "#{strip-units($screen--xs-height)}x#{strip-units($screen--xs-width)}";
      }
    }
  }
}

// Use data attribute on body, which indicate the
// size of the screen (expressed following the bootstrap
// convention of xs, sm, md, lg) to hide all elements,
// which shouldn't be shown with the current screen size.
[data-k6-screen-size='xs'] {
  // [data-screen] {
  //   display: none;
  // }
  [data-screen='sm'],
  [data-screen='md'],
  [data-screen='lg'] {
    display: none;
  }
}

[data-k6-screen-size='sm'] {
  [data-screen='md'],
  [data-screen='lg'] {
    display: none;
  }
}

[data-k6-screen-size='md'] {
  [data-screen='lg'] {
    display: none;
  }
}

// Mobile specific style
@media screen and (max-width: $WPcustomize--float-breakpoint) {
  .collapse-sidebar { // k6wptight-css \\
    left: 94px !important;
  }
}