/**
 * Shadow on sidebar
 *
 * Add a subtle shadow to the customize sidebar when hovering it
 */
.wp-full-overlay.expanded { // @@wptight-selector \\
	.wp-full-overlay-sidebar { // @@wptight-selector \\
    transition: box-shadow .3s ease-in-out;
    box-shadow: 0 0 0 0 rgba(0,0,0,0);

		&:hover {
	    box-shadow: 50px 0 85px -65px rgba(0,0,0,0.15);
	  }
  }
}

/**
 * Browser support dependent markup
 *
 * Show or hide DOM based on feature detection done with Modernizr.
 */
.kkcp-if-filereader,
.kkcp-if-no-filereader {
  display: none;
}
.filereader .kkcp-if-filereader,
.no-filereader .kkcp-if-no-filereader {
  display: block;
}

/**
 * Overflow fix.
 *
 * WordPress uses `overflow: hidden` on sections but this prevent us to use
 * popovers, dropdowns or typeahead elements dynamically appended to the
 * controls without having to attach them to the body (which is not a very common
 * feature in those js libraries...).
 */
#customize-theme-controls .customize-pane-child.open { // @@wptight-selector \\
  min-height: 100%;
  overflow-y: visible;
}

/**
 * Make focus state of various element more prominent. Particularly useful
 * while navigating through the panels/sections with the keyboard.
 */
.accordion-section-title:focus, // @@wptight-selector \\
.kkcpui-header-toggle:focus,
.customize-controls-close:focus, // @@wptight-selector \\
.customize-section-back:focus, // @@wptight-selector \\
.customize-panel-back:focus { // @@wptight-selector \\
  box-shadow: inset 0 0 0 1px rgba($WP--focus-box-shadow-rgb, .5),
    inset 0 0 6px 1px rgba($WP--focus-box-shadow-rgb, .2);
}
