/**
 * When markdown on control's descriptions and titles is enabled it
 * automatically wraps a simple text in a `<p>`, so we need to remove the
 * margin to it.
 */
.kkcp-markdown-supported {
  // .customize-control-description {
  //   font-style: normal;
  // }

  .customize-control-title > p,
  .customize-control-description p:first-child {
    margin: 0;
  }

  // code style (both in control titles and descriptions)
  .kkcp-control code {
    font-size: $code--font-size;
    font-weight: normal;
  }

  // code style in control descriptions
  .kkcp-control .description code {
    font-style: normal;
    color: $code--color;
  }
}

/**
 * Generic class to apply some basic markdown styling
 * This style reset some of the WordPress style on the markdown to html areas.
 *
 * For instance used by the Content control.
 */
.kkcp-markdown {
  @include ui-markdown();
}
