/**
 * Style scrollbar of controls sidebar.
 * To turn it to be less obtrusive make it thiner
 * and hide the arrow buttons.
 *
 */
#customize-controls ::-webkit-scrollbar {
  width: 10px; // 16px
  height: 10px; // 16px

  &-button {
    display: none;
    height: 0;
    width: 0;
  }

  &-corner {
    background: transparent;
  }

  &-track {
    border-top: 0 solid transparent;
    border-bottom: 0 solid transparent;
    background-clip: padding-box;

    &:vertical:hover {
      background-color: rgba(0,0,0,.035);
      -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,.16), inset -1px -1px 0 rgba(0,0,0,.08);
    }
    &:horizontal:hover {
      background-color: rgba(0,0,0,.035);
      -webkit-box-shadow: inset -1px 1px 0 rgba(0,0,0,.16), inset 1px -1px 0 rgba(0,0,0,.08);
    }
  }

  &-thumb {
    // background-clip: padding-box;
    // border: solid transparent;
    // border-width: 0 2px;
    background-color: rgba(0,0,0,0.16);
    -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.16), inset 0 -1px 0 rgba(0,0,0,0.08);

    &:horizontal {
      -webkit-box-shadow: inset 1px 1px 0 rgba(0,0,0,0.16), inset -1px 0 0 rgba(0,0,0,0.08);
    }
    &:hover {
      background-color: rgba(0,0,0,0.32);
      -webkit-box-shadow: inset 1px 1px 1px rgba(0,0,0,0.24);
    }
    &:active {
      background-color: rgba(0,0,0,0.48);
      -webkit-box-shadow: inset 1px 1px 3px rgba(0,0,0,0.32);
    }
  }
}
