/**
 * Move the `padding` from the `<ul>` to the controls `<li>`s
 * so they are fullwidth in the sidebar, allowing a nice highlighting
 * in various situation like `:hover` or `.focus()`
 */
#customize-theme-controls .accordion-section-content {
  padding: 0;
}
.customize-section-title {
  margin: 0;
}
.customize-control,
.customize-section-description {
  box-sizing: border-box;
  padding-left: $control--spacing-left;
  padding-right: $control--spacing-right;
}

/**
 * Control changes, class applied on `<li>`
 * container of each of our custom controls
 */
.customize-control,
.pwpcp-control {
  margin: 0; // @@wptight-css-override .customize-control {} \\
  padding-top: $control--spacing-top;
  padding-bottom: $control--spacing-bottom;

  // Highlight the hovered control making it more prominent and visible.
  border-color: transparent;
  border-style: solid;
  border-width: 1px 0;
  &:hover {
    background: $control--bg-hover;
    border-color: darken($control--bg-hover, 1%);
  }

  &:last-of-type {
    border-bottom: none;
  }

  /**
   * Highlight focused control (through WordPress API method control.focus())
   * adding the class `.pwpcp-control-focused` to the `control.container`
   */
  // background: $control--bg;
  &-focused {
    transition: background 2s ease;
    background: $control--bg-focus;
  }

  // /**
  //  * 'Highlight' hovered control fading out a bit all the others
  //  *
  //  */
  // transition: opacity .1s ease;

  // .control-section .accordion-section-content:hover & { // .pwpcp-control-section
  //   opacity: .8;
  // }
  // .control-section .accordion-section-content &:hover { // .pwpcp-control-section
  //   opacity: 1;
  // }
  // // on search active we have multple accordion-section visible
  // // at the same time so we have to target the overall sidebar inner area
  // // to trigger the hover higlight in the right way
  // .pwpcp-search-active #customize-theme-controls:hover & {
  //   opacity: .8;
  // }
  // .pwpcp-search-active #customize-theme-controls &:hover {
  //   opacity: 1;
  // }
}

/**
 * Remove highlighting behavior on theme switcher control
 */
.customize-control-theme,
.customize-control-theme:hover {
  background: none;
}

/**
 * Reset our control custom style on the Nave Menus WordPress native panel.
 * Add also generic class to apply on panel `ul` container
 * to reset the control style.
 */
.pwpcp-panel--reset-control-style,
#accordion-panel-nav_menus {
  .customize-control {
    padding: 0;
    margin-bottom: $WPcustomize--control-margin-vertical;
    border: 0;

    &:hover {
      background: transparent;
    }
  }

  // re-add the padding on the outer control
  .accordion-section-content > li.customize-control,
  // and on the section descriptions
  .customize-section-description-container p {
    padding-left: $WPcustomize--section-padding-horizontal;
    padding-right: $WPcustomize--section-padding-horizontal;
  }
}
