/**
 * Color Control
 *
 */
$control--color-preview-width: 30px;

.customize-control-pwpcp_color {}

.pwpcpcolor {

  // toggle button to display color picker area
  &-toggle {
    margin-left: -1px;
    border-radius: 0  $WPcustomize--btn-border-radius $WPcustomize--btn-border-radius 0;
  }

  // button for current color preview
  &-current {
    display: inline-block;
    width: $control--color-preview-width;
    height: $WPcustomize--btn-height;
    border: 1px solid $WPcustomize--btn-border-color;
    border-radius: $WPcustomize--btn-border-radius 0 0 $WPcustomize--btn-border-radius;
    box-shadow: $WPcustomize--btn-box-shadow;

    // the squared bg for transparent values
    &-bg {
      background-image: url(images/transparency-pattern.png);
    }

    // the overlay which get the currently selected color from javascript
    // and display it through `background-color`
    &-overlay {
      box-shadow: none;
      margin-left: -$control--color-preview-width - 2;
    }
  }

  // hide the input field, it is used by the color plugin as a 'starter' element
  &-input {
    display: none;
  }
}

/**
 * Remove border and background from WordPress default color control.
 */
.customize-control .iris-border {
  background-color: transparent;
  border: 0;
}
