/**
 * Control Divider
 *
 */
.k6-control-divider {
  margin: 12px;
  margin-left: -$control--spacing-horizontal;
  margin-right: -$control--spacing-horizontal;
  padding: $control--spacing-top $control--spacing-horizontal;
  background: #fafafa;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #f6f6f6;
  text-align: center;

  .customize-control:first-child > & {
    margin-top: -$control--spacing-top;
  }

  .customize-control-title {
    margin: 0;
  }
}