/**
 * Font Family Control
 *
 */

.customize-control-PWPcp_font_family {

  .selectize-control { // @@plugintight-selectize
    margin-top: 6px;
  }

  /**
   * Highlight selectize area and make it more prominent
   * when hovering its control wrapper area
   */
  .selectize-input { // @@plugintight-selectize
    border-color: transparent;
    box-shadow: none;
  }
  &:hover .selectize-input { // @@plugintight-selectize
    border-color: $WP--select-border-color;
    box-shadow: $WP--select-box-shadow;
  }
  &:hover .selectize-input.focus,
  .selectize-input.focus { // @@plugintight-selectize
    border-color: $WP--select-border-color-focus;
    box-shadow: $WP--select-box-shadow-focus;
  }
}
