/**
 * Screen size picker
 *
 */
.k6-screen-picker {

  > ul {
    float: left;
    width: 28px;

    > li {
      margin: 1px 0;
      color: #bbb;
      outline: 0;
      cursor: pointer;

      &:hover {
        color: #999;
      }

      &.selected {
        color: #666;
      }
    }
  }

  > div {
    display: none;
    padding: 6px 8px 4px 35px;

    &.selected {
      display: block;
    }
  }
}

// To fill the lack of a "Medium screen" size device
// like a small laptop, let's use the tablet dashicon and
// rotate it. Both in the device picker and in the screen picker
.k6-tab,
.k6-btn-icon {
  &[data-screen="md"] .dashicons-tablet {
    transform: rotate(90deg);
  }
}