/**
 * Control Radio
 *
 */
.customize-control-pwpcp_radio {

  & label {
    position: relative;
    display: block;
    padding: 5px 0; // @@wptight-css based on .customize-control-radio { line-height } \\

    &:hover {
      .pwpcp-tooltip {
        display: block;
      }
    }
  }

  & small {
    opacity: .8;
    font-style: italic;

    &:hover {
      opacity: 1;
    }
  }
}