/**
 * Control Radio Image
 *
 */
.customize-control-pwpcp_radio_image {

  label {
    margin-right: 3px;
  }

  // Make the image highlightable
  img {
    border: 1px solid transparent;
    opacity: .4;

    &:hover {
      // a darker border to compensate the reduced opacity
      border-color: #222;
    }
  }
}

/**
 * The checkbox is there, just hidden, we don't use `display: none`
 * to be sure the checkbox receives focus, so we can "relay" the state
 * to the `<img>`.
 */
input[type=radio].pwpcp-radio-image {
  position: absolute;
  opacity: 0;

  // Checked state
  &:checked + label img {
    border-color: #aaa;
    opacity: 1;
    cursor: default;
  }

  // Create a focus state
  &:focus + label img {
    border-color: $WP--select-border-color-focus;
    box-shadow: $WP--select-box-shadow-focus;
  }
}