/**
 * Slider Control
 *
 */

/**
 * Wrapper around slider.
 *
 * Let expand the units on the right as much as they need and
 * be sure to don't cut off the handle on the sides edges using
 * the padding in combinaiton with the negative margin.
 */
.k6-slider-wrap {
  overflow: hidden;
  padding: 0 ($plugin--slider-handle-size / 1.5);
  // margin-left: -($plugin--slider-handle-size / 2);
  margin-right: -($plugin--slider-handle-size / 2);
}
.k6-unit-wrap {
  float: right;
}

/**
 * Slider number input
 *
 */
input[type=number].k6-slider-number {
  width: auto;
  padding: 3px 0;
  border: 0;
  box-shadow: none;
  font-weight: bold;
  background: transparent; // k6maybenotneeded \\
  margin: 0; // k6maybenotneeded \\
  display: inline; // k6maybenotneeded \\
  text-align: right; // k6maybenotneeded \\

  // Hide spinner on input[type=number]
  // @link http://stackoverflow.com/a/23374725/1938970
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  -moz-appearance: textfield;
}

/**
 * Unit picker (`px`, `em`, `%`, etc.)
 *
 */
.k6-unit {
  display: inline-block;
  padding: 3px 5px;
  border: 1px solid #eee;
  margin-right: -1px;
  font-size: 12px;
  cursor: pointer;

  &:last-child {
    border-right-width: 1px;
  }

  &:hover {
    background: #fafafa;
  }

  &.k6-current {
    float: left;
    cursor: default;
    background: transparent;
    border-color: transparent;
    font-weight: bold;
    padding-left: 2px;
  }
}
