/**
 * Control Slider
 *
 */
.customize-control-pwpcp_slider {}

/**
 * Wrapper around slider.
 *
 * Let expand the units on the right as much as they need and
 * be sure to don't cut off the handle on the sides edges using
 * the padding in combinaiton with the negative margin.
 */
.pwpcp-slider-wrap {
  overflow: hidden;
  padding: 0 ($plugin--slider-handle-size / 1.5);
  // margin-left: -($plugin--slider-handle-size / 2);
  margin-right: -($plugin--slider-handle-size / 2);
}
.pwpcp-unit-wrap {
  float: right;
}

/**
 * Slider number input
 *
 */
input[type=number].pwpcp-slider-number {
  width: auto;
  max-width: 50px;
  padding: 3px 0;
  border: 0;
  box-shadow: none;
  font-weight: bold;
  background: transparent; // @@maybenotneeded \\
  margin: 0; // @@maybenotneeded \\
  display: inline; // @@maybenotneeded \\
  text-align: right; // @@maybenotneeded \\

  // Hide spinner on input[type=number]
  // @link http://stackoverflow.com/a/23374725/1938970
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  -moz-appearance: textfield;
}

/**
 * Unit picker (`px`, `em`, `%`, etc.)
 *
 */
.pwpcp-unit {
  display: inline-block;
  padding: 3px 5px;
  margin-right: -1px;
  border: 1px solid darken($control--bg, 7.5%);
  background: $WPcustomize--btn-bg;
  box-shadow: $WPcustomize--btn-box-shadow;
  font-size: 12px;
  cursor: pointer;

  &:last-child {
    border-right-width: 1px;
  }

  &:hover {
    background: lighten($control--bg, 5%);
    border-color: darken($control--bg, 15%);
  }

  &.pwpcp-current {
    float: left;
    padding-left: 2px;
    border-color: transparent;
    background: transparent;
    box-shadow: none;
    font-weight: bold;
    cursor: default;
  }
}
