/**
 * Common section style changes
 *
 */

/**
 * Inline radio section
 *
 */
// @@todo, when we'll have custom section js templates in 4.2 put this style as a class applied through
// a future customize section 'layout_classes' option when defining the sections in the json file.
#accordion-section-bootstrap--imports {

  .customize-control-title {
    margin: 0;
    float: left;
  }

  .customize-control {
    padding-bottom: $control--spacing-top; // to vertically center the controls
    border-bottom: 1px solid darken($control--bg, 2%);
    &:last-child {
      border-bottom: 0;
    }
    &:hover {
      background: $control--bg-hover;
    }
  }

  label {
    float: right;
    margin-left: 11px;
  }
}
