/**
 * Control changes, class applied on wrapper div inside the `<li>`
 * container (wrapper present only in case we have a control divider),
 * and on the container itself (for controls without a divider)
 * of each of our custom controls.
 *
 */
.kkcp-control,
.kkcp-control-wrap {
  position: relative;
}

/**
 * Overall area
 * a wrapper, needed to bind the `mouseenter`, `mouseleave`
 * events on only one DOM element.
 */
.kkcp-extras {}

/**
 * Toggle button
 *
 * @use `.kkcpui-control-btn`
 */
.kkcp-extras-btn {
  top: $control--spacing-top;
  left: 1px;

  // the button needs to slightly change the position
  // if it inside the control-wrap (when we have dividers...)
  .kkcp-control-wrap & {
    top: 0;
    left: -$control--spacing-left - 1;
  }

  /**
   * Open state
   */
  .kkcp-extras-open & {
    color: $control--btn-color-active;
    opacity: 1;
  }
}

/**
 * List inside extras menu
 *
 */
.kkcp-extras-list {
  z-index: 11; // @@wptight-css we need to overtake .iris-picker .iris-square-handle { z-index: 10 } \\
  display: none;
  position: absolute;
  top: $control--spacing-top + $control--btn-size + 3px;
  left: $control--spacing-left;
  width: $WPcustomize--sidebar-inner-width - 20; // @@temp -20 to e sure to don't overflow \\
  margin: 0 0 $control--spacing-bottom;
  padding: 6px;
  background: $popover--bg;
  border: 1px solid $popover--border-color-fallback;
  border: 1px solid $popover--border-color;
  box-shadow: $popover--box-shadow;
  box-sizing: border-box;

  // the button needs to slightly change the position
  // if it inside the control-wrap (when we have dividers...)
  .kkcp-control-wrap & {
    top: $control--btn-size + 3px;
    left: 0;
  }

  // the menus shrinks a bit when the scrollbar is visible
  .kkcp-has-scrollbar & {
    width: $WPcustomize--sidebar-inner-width - 16 - 20; // scrollbar width // @@temp -20 to e sure to don't overflow \\
  }

  // displayment is class based
  .kkcp-extras-open & {
    display: block;
  }

  li {
    padding: 6px 9px;
    margin: 0;
    border-bottom: 1px solid #eee;
    // color: #666;

    &:last-child {
      border-bottom: 0;
    }

    &:hover {
      margin: 0 -6px;
      padding: 6px 15px;
      background: #f6f6f6;
      cursor: pointer;
    }

    &.kkcp-disabled {
      cursor: default;
      opacity: .5;
    }

    &:before {
      font-size: 14px;
      font-weight: normal;
      font-family: 'dashicons';
      margin-right: 3px;
    }
  }
}

.kkcp-extras {
  &-reset_last:before {
    content: "\f474";
  }
  &-reset_initial:before {
    content: "\f321";
  }
  &-reset_factory:before {
    content: "\f308";
  }
  &-hide:before {
    content: "\f177";
  }
}

/**
 * Undo action (with timer) after having hided a control
 *
 */
.kkcp-hide-undo {
  display: block;
  padding: 6px 0;
  text-align: center;
  cursor: pointer;
  &:before {
    font-family: 'dashicons';
    content: "\f171";
    margin-right: 3px;
  }
}
.kkcp-timer {
  color: #888;
  &:before {
    content: "... ";
  }
}
