/**
 * Control Password
 *
 */
.customize-control-kkcp_password {

  .kkcp-password {
    display: block;
    position: relative;

    input[type="password"],
    &__preview {
      padding-right: 36px;
    }

    &__toggle {
      position: absolute;
      top: 0;
      right: 0;
      border: 0;
      background: transparent;
      color: $control--btn-color;
      height: 100%;
      width: 40px;
      cursor: pointer;

      &:hover,
      &:focus {
        color: $control--btn-color-active;
        box-shadow: none;
        outline: none;
      }
    }

    input[type="password"],
    &__show {
      display: block;
    }

    &__preview,
    &__hide {
      display: none;
    }
  }

  &.kkcp-password-visible {

    .kkcp-password__show,
    input[type="password"] {
      display: none;
    }
    .kkcp-password__preview,
    .kkcp-password__hide {
      display: block;
    }
  }
}
