/**
 * Control Radio
 *
 */
.customize-control-kkcp_radio {

  label {
    position: relative;
    display: block;
    padding: 5px 0; // @@wptight-css based on .customize-control-radio { line-height } \\

    &:hover {
      color: $input--hover-color;

      input[type=radio] {
        border-color: $input--hover-color;
      }
    }
  }

  small {
    opacity: .8;
    font-style: italic;

    &:hover {
      opacity: 1;
    }
  }
}