/**
 * Control Slider
 *
 */
.customize-control-kkcp_slider {}

/**
 * Wrapper around slider.
 *
 * Let expand the units on the right as much as they need and
 * be sure to don't cut off the handle on the sides edges using
 * the padding in combinaiton with the negative margin.
 */
.kkcp-slider-wrap {
  overflow: hidden;
  padding: 0 ($plugin--slider-handle-size / 1.5);
  // margin-left: -($plugin--slider-handle-size / 2);
  margin-right: -($plugin--slider-handle-size / 2);
}
.kkcp-inputs-wrap {
  float: right;
}
.kkcp-unit-wrap {
  float: right;
  margin-top: 1px;
}

/**
 * Slider number input
 *
 * When the slider has no unit this element is on its own, while when
 * there is the unit picker it is a children of `.kkcp-inputs-wrap`.
 */
.kkcp-slider-number,
input[type=number].kkcp-slider-number {
  float: right;
  width: auto;
  max-width: 32px;
  padding: 3px 0;
  border: 0;
  box-shadow: none;
  font-weight: bold;
  background: transparent; // @@maybenotneeded \\
  margin: 0; // @@maybenotneeded \\
  text-align: right; // @@maybenotneeded \\

  .kkcp-inputs-wrap & {
    float: none;
    display: inline; // @@maybenotneeded \\
  }

  // Hide spinner on input[type=number]
  // @link http://stackoverflow.com/a/23374725/1938970
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
  -moz-appearance: textfield;
}

/**
 * Unit picker (`px`, `em`, `%`, etc.)
 *
 */
.kkcp-unit,
input[type=text].kkcp-unit {
  display: inline-block;
  width: 24px;
  height: 28px;
  line-height: 28px;
  margin-right: -1px;
  padding: 0 3px;
  border: 1px solid darken($control--bg, 7.5%);
  background: $WPcustomize--btn-bg;
  box-shadow: $WPcustomize--btn-box-shadow;
  font-size: 11px;
  text-align: center;
  cursor: pointer;

  &:last-child {
    border-right-width: 1px;
  }

  &:hover {
    background: lighten($control--bg, 5%);
    border-color: darken($control--bg, 15%);
  }

  &.kkcp-current {
    float: left;
    padding: 0;
    border-color: transparent;
    background: transparent;
    box-shadow: none;
    font-weight: bold;
    cursor: default;
    font-size: 12px;
  }
}
