@import "variables";

.k6cp-logo { // k6todo \\
  position: absolute;
  top: 0;
  right: 20px;
  width: 110px; // image-width(images/logo.svg);
  height: 110px; // image-height(images/logo.svg);
  background: url(images/logo.png) center 100% no-repeat;
  // .svg & {
  //   background: url(images/logo.svg) center no-repeat;
  // }

  .about-wrap & {
    @media (min-width: 769px) {
      position: static;
      float: left;
      margin: 0 20px 20px 0;
    }
  }
}

.k6cp-badge { // k6wptight-css from .wp-badge {} \\
  color: lighten($CP--logo-bg, 50%);
  font-size: 13px;
  text-align: center;
  font-weight: 400;
  margin: 5px 0 0;
  padding-top: 115px;
  height: 45px;
  display: inline-block;
  width: 150px;
  text-rendering: optimizeLegibility;
  box-shadow: 0 1px 3px rgba(0,0,0,.2);
  background: url(images/logo-white.png) center 24px/85px 85px no-repeat $CP--logo-bg;
  // .svg & {
  //   background: url(images/logo-white.svg) center 24px/85px 85px no-repeat $CP--logo-bg;
  // }

  &:before {
    content: "Customize Plus";
    display: block;
    color: lighten($CP--logo-bg, 70%);
    font-size: 15px;
    font-weight: 600;
  }

  .about-wrap & {
    position: absolute;
    top: 0;
    right: 20px;
  }
}