.pwpcp-u {

  // Vertically align content
  &-midpoint-wrap {
    text-align: center;
    vertical-align: middle;
    height: 100%;

    &:before {
      content: '';
      display: inline-block;
      height: 100%;
      vertical-align: middle;
    }
  }

  &-midpoint {
    vertical-align: middle;
    display: inline-block;
  }

  // Visibility
  &-hidden {
    display: none;
  }
}

.pwpcp-hint {
  color: #666;
}

.pwpcp-subhint {
  color: #bbb;
}

/**
 * Style disabled input to be more recognizable
 * and in line with the style of the `select` js plugin
 */
input.disabled,
input:disabled,
select.disabled,
select:disabled,
textarea.disabled,
textarea:disabled {
  background-color: $plugin--select-input-disabled-bg;
}
