/**
 * Variables: WordPress
 *
 */

// WordPress layout variables
$WP--bg: #f1f1f1 !default;
$WP--border-radius: 3px !default;
$WP--input-height: 27px;
$WP--input-height-md: 31px;
$WP--focus-box-shadow-rgb: rgb(30, 140, 190);
$WP--focus-box-shadow-opacity: .8;
$WP--focus-box-shadow-color: rgba($WP--focus-box-shadow-rgb, $WP--focus-box-shadow-opacity);
$WP--select-border-color: #ddd;
$WP--select-border-color-focus: #5b9dd9;
$WP--select-box-shadow: inset 0 1px 2px rgba(0,0,0,.07);
$WP--select-box-shadow-focus: 0 0 2px $WP--focus-box-shadow-color;
$WP--link-color: #0099d5; // #0074a2;
$WP--link-color-hover: #2ea2cc;
$WP--link-box-shadow: 0 0 0 1px #5b9dd9, 0 0 2px 1px $WP--focus-box-shadow-color;
$WP--dashicons-size: 20px;

// WordPress Customize variables
$WPcustomize--overlay-z-index: 500000;
$WPcustomize--container-meta-margin_bottom: 15px;
$WPcustomize--section-padding-horizontal: 12px; // @@wptight-cs from .accordion-section-content {} \\
$WPcustomize--control-margin-vertical: 12px;
$WPcustomize--sidebar-width: 300px;
$WPcustomize--sidebar-inner-width: $WPcustomize--sidebar-width - ($WPcustomize--section-padding-horizontal * 2);
$WPcustomize--header-height: 45px;
$WPcustomize--footer-height: 45px;
$WPcustomize--btnback-width: $WPcustomize--header-height + 3;
$WPcustomize--container-toggle-size: 40px;
$WPcustomize--container-toggle-shadow-focus: 0 0 0 1px #5b9dd9, 0 0 2px 1px $WP--focus-box-shadow-color;
$WPcustomize--container-toggle-color: #555;
$WPcustomize--container-toggle-color-focus: #0073aa;
$WPcustomize--sidebar-bg: #eee;
$WPcustomize--iframe-bg: #eee;
$WPcustomize--iframe_devices-bg: #191e23;
$WPcustomize--collapse-sidebar-btn-color: #656a6f;
$WPcustomize--collapse-sidebar-marginleft: 15px;
$WPcustomize--breakpoint-float: 640px;
$WPcustomize--breakpoint-md: 782px; // some input fields get bigger here
$WPcustomize--btn-height: 22px; // @@wptight-css from .wp-color-result {} \\
$WPcustomize--btn-padding-horizontal: 9px;
$WPcustomize--btn-bg: #f7f7f7;
$WPcustomize--btn-bg-hover: #fafafa;
$WPcustomize--btn-bg-active: #e8e8e8; // we made this up
$WPcustomize--btn-bg-activetoggle: #e0e0e0; // we made this up
$WPcustomize--btn-color: #555;
$WPcustomize--btn-color-hover: #222;
$WPcustomize--btn-color-active: #444; // we made this up
$WPcustomize--btn-border-color: #ccc;
$WPcustomize--btn-border-color-hover: #999;
$WPcustomize--btn-border-radius: $WP--border-radius;
$WPcustomize--btn-box-shadow: inset 0 1px 0 #fff, 0 1px 0 rgba(0,0,0,.08);
$WPcustomize--btn-box-shadow-focus: $WP--link-box-shadow;
$WPcustomize--btn-box-shadow-activetoggle: inset 0 2px 2px rgba(0,0,0,.08), 0 1px 0 rgba(0,0,0,.08); // we made this up
$WPcustomize--btn-box-shadow-activetoggle-focus: 0 1px 0 rgba(0,0,0,.08), inset 0 0 2px 1px $WP--focus-box-shadow-color; // we made this up

/**
 * Variables: Customize Plus
 *
 */

// Customize generic
$base--logo-bg: #464646;
$code--color: #c7254e; // same as Bootstrap
$code--font-size: 12px;
$toggle--width: 30px;
$input--hover-color: #333;
$state--danger-base: #FFD4D4;
$state--success-base: #D8FFCD;
$state--info-base: #CDEBFF;
$state--danger-bg: #ffeeee;
$state--danger-border: #eb9b9b;
$state--danger-box-shadow: 0 0 4px #c00;
$state--danger-color: #3b0000;

// Customize UI: Popovers
$popover--bg: #fff;
$popover--box-shadow-distance: 0 10px;
$popover--box-shadow-blur: 10px;
$popover--box-shadow-color: rgba(0,0,0,.1);
$popover--box-shadow: $popover--box-shadow-distance $popover--box-shadow-blur $popover--box-shadow-color;
$popover--border-color-fallback: #ddd;
$popover--border-color: rgba(0,0,0,.2);
$popover--padding-vertical: 14px;
$popover--padding-horizontal: 14px;

// Customize UI: select (plugins related values)
$plugin--select-input-disabled-bg: #f4f4f4;
$plugin--select-option-padding: 6px;
$plugin--select-option-highlight-bg: #5897fb;

$plugin--slider-handle-size: 13px;
$plugin--slider-handle-border-width: 1px;

$plugin--ace-bg-color: #272822;

// Customize Plus Controls
$control--color-light: #999;
$control--bg: $WPcustomize--sidebar-bg;
$control--bg-focus: #ffc;
$control--bg-hover: lighten($WPcustomize--sidebar-bg, 2%);
$control--bg-divider: darken($control--bg-hover, 10%); // #fffafa;
$control--bg-divider-hover: darken($control--bg-divider, 3%);
$control--spacing-top: $WPcustomize--control-margin-vertical / 2;
$control--spacing-bottom: $WPcustomize--control-margin-vertical / 2;
$control--spacing-left: 20px;
$control--spacing-right: $WPcustomize--section-padding-horizontal;
$control--btn-size: $WP--dashicons-size;
$control--btn-icon-fontsize: 15px;
$control--btn-color: #aaa;
$control--btn-color-active: #333;

// Customize Plus component: Compiler
$compiler--feedback-height: 25px;
$compiler--feedback-bottom: $WPcustomize--footer-height - 7;

// Customize Plus component: Editor
$editor--buttons-height: 25px;
$editor--dropdown-height: 34px;

// Customize Plus component: Resizer
$resizer--handle-width: 5px;
